body {
    margin: 0;
    font-family: sans-serif;
    /* No se necesita padding-top extra en el body con sticky */
}

.toolbar {
    position: sticky; /* Comportamiento mixto entre relative y fixed */
    top: 0;           /* El punto donde se "pega" (en la parte superior de la ventana) */
    background-color: #333;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}
.search .input {
    padding: 10px;
    margin-left: 20px;
    width: 300px;
}

.main-content {
    /* Simplemente para generar suficiente altura de página */
    min-height: 150vh; 
    padding: 20px;
}
